    <footer>
        <p>&copy; 2023 Avukatlık Bürosu. Tüm hakları saklıdır.</p>
        <p>Bizi sosyal medyada takip edin:</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
            <!-- Diğer sosyal medya bağlantıları -->
        </ul>
    </footer>
    <script src="/js/script.js"></script> <!-- JavaScript dosyanızın yolu -->
</body>
</html>

