<%- include('partials/header') %>

<div class="main-banner">
  <h1>Hoşgeldiniz</h1>
  <p>Adalet ve hukukun yanınızda olduğu yer</p>
</div>

<!-- ... Diğer içerikler ... -->

<%- include('partials/footer') %>

